.container {
  padding: 20px;
  width: 100%;
}

.form {
  width: 50%;
  margin: 10px auto;
  padding: 20px 0 20px 0;
  display: flex;
  flex-flow: column wrap;
  justify-content: center;
  align-items: center;
}

.reactIcons {
  margin-right: 20px;
  vertical-align: middle;
}

.form input {
  background-color: transparent;
  border: none;
  border-bottom: 4px solid #ccc;
  font-family: inherit;
  color: #ccc;
  font-size: 30px;
}

.form input:focus {
  outline: none;
}

.radios {
  margin-top: 20px;
}

.radio {
  margin: 10px;
  font-size: 20px;
}

.option {
  margin-left: 10px;
}

.button {
  display: none;
}

.results {
  min-height: 100px;
}

.list {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-around;
}

.heading {
  margin-top: 20px;
  margin-bottom: 20px;
}

@media (max-width: 768px) {
  .form {
    width: 100%;
    padding: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .question {
    width: 100%;
    padding-bottom: 10px;
    border-bottom: 1px solid #ccc;
    display: flex;
  }

  .form input {
    border-bottom: none;
    font-size: 15px;
  }
  .radio {
    font-size: 15px;
    width: 100%;
  }
  .radios {
    width: 100%;
  }
}
