.container {
  margin: 5px;
  padding: 5px;
}

.container h3 {
  width: 90%;
  text-align: center;
}

.movieImage {
  width: 100%;
}

.movieImage img {
  width: 90%;
  height: auto;
}

.movieCard {
  width: 120px;
}

.container h3 {
  font-size: 13px;
}
