.container {
  width: 200px;
  margin: 10px;
  transition: all 0.3s ease-out;
}

.container:hover {
  transform: scale(1.1);
}

.imageContainer {
  width: 100%;
}

.imageContainer img {
  width: 100%;
  height: auto;
  border-radius: 6px;
  box-shadow: rgba(83, 83, 63, 0.35) 0px 5px 15px;
}

.name {
  width: 100%;
  margin-top: 8px;
  font-size: 10px;
  text-align: center;
}

@media (max-width: 768px) {
  .container {
    width: 140px;
  }
}
