.container {
  padding: 10px 0;
  background-color: #222;
  margin: 30px auto;
  border-radius: 6px;
  width: 30%;
  display: flex;
  justify-content: center;
}

.title {
  font-size: 12px;
  margin-bottom: 8px;
}

.numbers {
  display: flex;
  flex-direction: row;
}

.numbers li {
  list-style: none;
  margin: 0 10px;
}
