.navbar {
  background-color: #222;
  color: #ccc;
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
  align-items: center;
  font-weight: bold;
  height: 60px;
  position: fixed;
  width: 100%;
  z-index: 30;
  padding: 0 30px;
}

.logo {
  height: 100%;
  padding: 5px 0;
}

.logo img {
  /* animation: bounce 1s infinite; */
  height: 90%;
  width: auto;
}

.links {
  display: flex;
  gap: 40px;
  cursor: pointer;
}

.link:hover {
  text-decoration: underline;
  text-underline-offset: 3px;
}

.logout {
  width: 60px;
}

.mobilelinks {
  color: #cccc;
  display: none;
}

.msection {
  margin: 10px 10px 20px 10px;
}

.mheading {
  color: #111;
  font-size: 15px;
  font-weight: 600;
}

.mlists {
  display: flex;
  flex-flow: row wrap;
  justify-content: flex-start;
  margin: 10px 10px 20px 10px;
}

.mlist {
  display: flex;

  gap: 2px;
  align-items: center;
  color: white;
  background-color: rgb(55, 55, 55);
  border-radius: 8px;
  font-size: 14px;
  margin: 10px;
  padding: 5px 10px;
  font-weight: bold;
  box-shadow:
    rgba(50, 50, 93, 0.25) 0px 50px 100px -20px,
    rgba(0, 0, 0, 0.3) 0px 30px 60px -30px;
  cursor: pointer;
}

.mtext {
  margin-left: 5px;
}

.navIcons {
  display: none;
}

.mpages {
  display: none;
  position: fixed;
  top: 40px;
  background-color: white;
  width: 100vw;
  height: 100vh;
  z-index: 100;
  padding: 20px 10px;
}

@keyframes bounce {
  0%,
  100% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-3px);
  }
}

@media (max-width: 768px) {
  .links {
    display: none;
  }

  .mpages a {
    text-decoration: none;
    color: #b3b3b3;
  }

  .navbar {
    font-size: 17.5px;
    padding: 5px 10px 0 5px;
    margin-bottom: 0;
    height: 40px;
  }

  .mpages {
    display: block;
  }

  .navIcons {
    display: block;
  }
}
