.container {
  margin: 20px;
  padding: 20px;
  background-color: #111;
  border-radius: 20px;
}

.heading {
  margin: 20px 0;
}

.home {
  color: blueviolet;
  text-decoration: underline;
  padding: 20px 10px;
}

.listContainer {
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-flow: row wrap;
}

@media (max-width: 768px) {
  .container {
    width: 100%;
    margin: 0;
    border-radius: 0;
    padding: 0px;
  }

  .heading {
    margin: 0;
    padding: 20px 10px;
  }
}
