.container {
  border: 1px solid #111;
}

.contentContainer {
  background: rgba(255, 255, 255, 0.1); /* Use a semi-transparent white color */
  backdrop-filter: blur(
    10px
  ); /* Apply a blur effect to create the glass effect */
  border-radius: 10px; /* Apply rounded corners */
  padding: 20px 10px; /* Add some padding for spacing */

  /* Add shadow to enhance the effect */
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2); /* A light shadow */
  width: 85%;
  margin: 10px auto;

  /* Actual styles */

  padding: 40px 60px;
  color: #111;
}

.section1 {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-around;
  align-items: center;
}

.posterContainer img {
  border: 2px solid white;
  height: 450px;
  width: auto;
}

.info {
  padding: 20px 40px;
  background-color: rgba(255, 255, 255, 0.955);
  max-width: 650px;
  line-height: 1.3;
  min-height: 480px;
}

.movieName {
  font-weight: bold;
  font-size: 32px;
}

.plot {
  font-style: italic;
}

.genres,
.streamingData {
  display: flex;
}

.streamingInfo img {
  width: 40px;
  height: auto;
  margin-right: 10px;

  border-radius: 7px;
}

.genres {
  margin: 10px 0;
  font-weight: bold;
  display: flex;
  flex-flow: row wrap;
}

.genre {
  margin: 5px 10px 0 0;
  padding: 5px 10px;
  border-radius: 20px;
  font-size: 12px;
}

.title {
  font-weight: bold;
  margin-right: 10px;
}

.data {
  display: flex;
  flex-flow: row wrap;
}

.credit {
  margin: 3px 5px;
}

.credit:hover {
  color: darkred;
}

.credit::after {
  content: ", ";
}

/* Do not add comma after the last child */
.credit:last-child::after {
  content: "";
}

.director,
.writer,
.cast,
.runtime,
.streamingInfo,
.plot {
  display: flex;
  margin: 20px 0;
  align-items: center;
}

.ratings {
  display: flex;
}

.ratings img {
  border-radius: 7px;
  height: 40px;
  width: auto;
}

.source {
  display: flex;
  align-items: center;
  border-radius: 10px;
  margin-right: 20px;
  font-weight: bold;
}

.rating {
  margin-left: 10px;
  font-size: 18px;
}

.trailer {
  padding: 10px;
  margin: 20px auto;
  display: flex;
  justify-content: center;
  align-items: center;
}

.posterContainer {
  display: block;
}

.mobilePosterContainer {
  display: none;
  padding-top: 10px;
}

.notFound {
  color: white;
  font-size: 20px;
  padding: 20px 10px;
}

@media (max-width: 768px) {
  .contentContainer {
    width: 100%;
    margin: 0;
    border-radius: 0;
    padding: 0px;
  }

  .section1 {
    margin: 0;
    padding: 0;
  }
  .mobilePosterContainer {
    display: block;
  }

  .mobilePosterContainer img {
    width: 100%;
    height: auto;
  }
  .info {
    padding: 20px 10px;
    width: 100%;
    margin: 0;
    max-width: 100%;
  }

  .posterContainer {
    display: none;
  }
  .movieName {
    font-size: 28px;
  }
  .trailer {
    width: 100%;
    background-color: rgba(255, 255, 255, 0.955);
    margin: 0;
    padding: 50px 20px;
  }
}
