.container {
  padding: 20px;
  background-image: linear-gradient(
    106.5deg,
    rgba(176, 233, 223, 1) 11.1%,
    rgba(180, 224, 193, 1) 37.8%,
    rgba(237, 207, 126, 1) 65%,
    rgba(222, 84, 84, 1) 92.7%
  );
  color: #111;
}

.card {
  background-color: white;
  color: #111;
  width: 80%;
  display: flex;
  justify-content: space-around;
  flex-flow: row wrap;
  margin: 20px auto;
  padding: 20px;
  border-radius: 10px;
}

.card * {
  padding: 5px;
}

.imageContainer img {
  height: 384px;
  width: auto;
  border: 2px solid #111;
}

.textContainer {
  width: 700px;
}

.info {
  display: flex;
}

.question {
  font-weight: bold;
}

.container pre {
  overflow: auto;
  white-space: pre-wrap;
  font: inherit;
  max-height: 200px;
  padding-right: 30px;
  text-align: justify;
  text-justify: inter-word;
}

.reactIcons {
  margin-left: 3px;
  transition: 0.1s all;
}

.reactIcons:hover {
  transform: translateY(-4px);
}

.heading {
  margin: 10px 0;
}

@media (max-width: 768px) {
  .container {
    width: 100%;
    padding: 10px;
  }
  .card {
    width: 100%;
    padding: 10px;
    border-radius: 0;
  }
  .imageContainer {
    width: 100%;
  }
  .imageContainer img {
    width: 100%;
    height: auto;
  }
}
